@tailwind base;
@layer base {
    html {
        @apply scroll-smooth;
    }
}
@tailwind components;
@tailwind utilities;

.img-fade {
    -webkit-mask-image: linear-gradient(to top, transparent, black 30%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-image: linear-gradient(to top, transparent, black 30%);
    mask-repeat: no-repeat;
    mask-size: cover;
}